config.toml
cert/*.pem
cert/*.crt
cert/*.csr
cert/openssl-ip.conf
.git.backup
icons/bootstrap-icons-1.9.1
icons/fontawesome
icons/fontawesome-free-6.7.2-web
css/bootstrap
css/fontawesome
__pycache__
data/
venv
